:root {
    --text: #faebd7;
    --font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font_two: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --box_bg: rgb(128, 128, 128, 35%)
}

body {
    margin: 0;
    padding: 0;
    background-color: #132302;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    font-family: var(--font);
    background-image: url(https://c4.wallpaperflare.com/wallpaper/69/497/130/abstract-panel-texture-material-wallpaper-preview.jpg);
    color: var(--text);
    box-shadow: 0 0 10px 0 #999;
}

header h1 {
    background: var(--box_bg);
    border-radius: 15px;
    margin-top: 5%;
    padding: 15px;
}

header nav {
    background: var(--box_bg);
    border-radius: 15px;
    padding: 15px;
}

header nav a {
    justify-content: space-around;
    align-items: center;
    color: var(--text);
    transition: .5s;
}

header nav a:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #999;
    background-color: rgb(255, 255, 255, 20%);
    border-radius: 50px;

}

figure {
    height: 300px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://wallpapercave.com/wp/wp10568540.jpg");
    background-size: cover;
    background-position: center;
}

main {
    margin: 0 60px;
}

article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

article h2 {
    font-family: var(--font);
    color: var(--text);
    text-shadow: -3px -3px 5px black;
    box-shadow: 3px 0px 5px black;
    border-right: solid 8px #8b9f3f;
    background-color: rgb(102, 109, 55, 15%);
    border-radius: 25px;
}

article section {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.about_me h2 {
    padding-right: 11.1%;
    margin-right: 9.5%;
}

.about_me p {
    width: 50%;
    font-family: var(--font_two);
    color: var(--text);
    text-shadow: 3px 3px 5px black;
    line-height: 1.5;
}


.work h2 {
    padding-right: 15.5%;
    margin-right: 10%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    flex-basis: 50%;
    background-size:contain;
    background-position: center;
    margin: 10px;
    border-radius: 25px;
    opacity: 0.7;
    box-shadow: 3px 3px 5px black;
    transition: .3s;
    position: relative;
}

.card:hover {
    opacity: 1;
    box-shadow: 0 0 25px #999;
}

.card h3 {
    display: flex;
    bottom: 11px;
    left: 10px;
    font-family: var(--font);
    color: var(--text);
    background-color: rgb(128, 128, 128, 25%);
    border-radius: 15px;
    padding: 15px;
    position: absolute;
}

#work_1 {
    height: 300px;
    flex-basis: 100%;
    background-image: url("./images/Horiseon.png");
}

#work_2 {
    height: 250px;
    flex-basis: 50%;
    background-image: url('./assets/images/night-street-zoom.png');
}

#work_3 {
    height: 250px;
    flex-basis: 50%;
    background-image: url('./assets/images/dock-lake.jpeg');
}

#work_4 {
    height: 250px;
    flex-basis: 50%;
    background-image: url('./assets/images/railroad-fog.jpeg');
}

#work_5 {
    height: 250px;
    flex-basis: 50%;
    background-image: url('./assets/images/skyscraper-up.jpeg');
}

.contact h2 {
    padding-right: 13%;
    margin-right: 8%;
}

.contact section {
    text-align: center;
    width: 50%;
}

.contact a {
    margin: 0 8px;
    font-family: var(--font);
    color: var(--text);
    transition: .5s;
}

.contact a:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 0 25px #999;
    background-color: rgb(255, 255, 255, 25%);
    border-radius: 20px;

}

footer {
    padding: 30px 0;
    text-align: center;
    font-family: var(--font);
    color: var(--text);
    font-size: 30px;
}